.container {
  display: block;
  place-items: center;
  margin-top: 3rem; /* mt-12 */
}

.card {
  background-color: #c084fc; /* bg-purple-400 */
  place-items: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  max-width: 1000px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.text {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  
}

.iconContainer {
  background-color: #d8b4fe; /* bg-purple-300 */
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}
