.container {
  width: 95%;
  max-width: 1600px;
  margin: 16px auto;
}


.settingsContainer {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

@media (min-width: 1800px) {
  .container { max-width: 1680px; }
}

@media (max-width: 768px) {
  .settingsContainer {
    grid-template-columns: 1fr;
  }
}
