.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logoIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  color: #8b5cf6;
}

.brandName {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.025em;
}

.textPrimary {
  color: #8b5cf6;
}

.textSecondary {
  color: #ec4899;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navList a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.active {
  color: #8b5cf6;
  font-weight: bold;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}


.profileWrapper {
  position: relative;
  display: inline-block; 
}

.dropDownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  padding: 0.5rem;
  z-index: 10000;
  min-width: 160px;

   opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.2s, transform 0.2s ease-in-out;
}


.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropDownMenu a {
  display: block;
  padding: 0.5rem;
  color: var(--primary-light);
  background: none;
  text-decoration: none;
  border-radius: 5px;
  transition: ease-in 0.15s;
}

.dropDownMenu a:hover {
  background-color: var(--primary-light);
  color: white;
}

.btnIcon {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 9999px;
}