
.banner { display: none; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.banner h1 {
    color: rgb(244, 240, 232);
    font-size: 32px;
    font-weight: 600;
}

.banner p {
    color: rgb(244, 240, 232);
    font-size: 16px;
    margin-bottom: 5px;
}
